body {
  height: 100%;
  display: grid;
  grid-template-rows: 100px auto;
  background-color: mediumaquamarine;
}

.title {
  font-family: Poppins;
  text-align: center;
}

.songs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
}

.song-instance {
  font-family: Merriweather;
  background-color: lightgray;
  border-radius: 25px;
  text-align: center;
}

.song-instance img {
  height: 40%;
  width: 80%;
  border-radius: 50%;
  margin-top: 10px;
}
