body {
  height: 100%;
  display: grid;
  grid-template-rows: 100px auto;
  background-color: mediumaquamarine;
}

.title {
  text-align: center;
}

.songs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
}

.song-instance {
  background-color: lightgray;
  border: 1px solid black;
  text-align: center;
}

.song-instance img {
  height: 50%;
  width: 100%;
}
